<div class="log-monitor__entry">
  <div
   ng-class="logEntryCtrl.getEntryTypeClass()"
   title="{{::logEntryCtrl.action.type}}"
   ng-click="logEntryCtrl.toggleActionHandler({id: logEntryCtrl.actionId})"
   ng-bind="::logEntryCtrl.action.type"></div>
  <div class="log-monitor__entry__payload" ng-if="!logEntryCtrl.collapsed">
    <lm-json
     ng-if="::logEntryCtrl.action.payload"
     key="'action'"
     value="::logEntryCtrl.action.payload"
     start-expanded="true"></lm-json>
    <lm-json
     ng-if="!logEntryCtrl.error"
     key="'state'"
     value="logEntryCtrl.state"
     start-expanded="true"></lm-json>
    <div class="log-monitor__error" ng-if="logEntryCtrl.error" ng-bind="logEntryCtrl.error"></div>
  </div>
</div>
